<router-outlet></router-outlet>

<!-- 
<form #myData='ngForm' name="form" (ngSubmit)="onFormSubmit(myData)">
  <div class="row">
     <div class="col-sm-6">
      <label class="form-label" for="username">username</label>
      <input class="form-control" type="text" #username="ngModel" name="username" minlength="2" 
      [(ngModel)]="formData.username" >
      </div>
      <br>
     <div class="col-sm-6">
      <label class="form-label" for="username">mobile</label>
      <input class="form-control" type="text" name="mobile" [(ngModel)]="formData.mobile" #mobile="ngModel" >
     
      <br>
      <button class="btn btn-success" type="submit">submit</button>
     </div>
  </div>
</form>
<br><br>

<table class="table table-striped">
  <thead>
    <tr>
      <th>sno</th>
      <th>username</th>
      <th>mobile</th>
      <th>delete</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let x of data; let i = index">
      <td>{{i+1}}</td>
      <td>{{x.username}}</td>
      <td>{{x.mobile}}</td>
      <td><button class="btn btn-danger" (click)="delete(i)">delete</button></td>
    </tr>
  </tbody>
</table>



























<!--tdf vs reactive

  code in html      //  code in ts file
  tdf - [(ngModel)]  //  no ngmodel
  complex for testing // easy to test



-->

